<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Smart TODO List Edit Profile</title>>

  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- uses jquery js -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- uses editProfile script -->
  <script type="text/javascript" src="/scripts/editProfile.js"></script>
</head>

<body>
  <header>
    <h1>Smart TODO List</h1>
  </header>
  <section>
    <form action="/home/edit" method="POST">
      <div>
        <label for="first_name">First Name: </label>
        <input type="text" name= "first_name" placeholder="charles"/>
      </div>
      <div>
        <label for="last_name">Last Name: </label>
        <input type="text" name= "last_name" placeholder="Wang"/>
      </div>
      <div>
        <label for="password">New password: </label>
        <input type="password" name= "password"/>
      </div>
      <div>
        <label for="verify_password" name= "verify_password">Re-enter New Password: </label>
        <input  type = "password" name= "verify_password"/>
      </div>
      <div>
        <label for="old_password" name= "old_password">Enter Old Password: </label>
        <input  type = "password" name= "old_password"/>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">submit</button>
    </form>
  </section>

</body>
</html>