<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Smart TODO List Edit Profile</title>>
  </head>
  <body>
    <header>
      <h1>Smart TODO List</h1>
    </header>
    <section>
      <p> edit page </p>
    </section>

  </body>
</html>