<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>MY TO DO LIST</title>
  <link rel="stylesheet" href="/styles/edit.css" type="text/css" />

  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- uses jquery js -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <header>
    <h1>MY TO DO LIST</h1>
  </header>
  <section>
    <form action="/home/edit" method="POST">
      <div class='form'>
        <label for="first_name">First Name: </label>
        <input class='input' type="text" name= "first_name" placeholder="<%=name.first_name%>"/>
      </div>
      <div class='form'>
        <label for="last_name">Last Name: </label>
        <input class='input' type="text" name= "last_name" placeholder="<%=name.last_name%>"/>
      </div>
      <div class='form'>
        <label for="password">New password: </label>
        <input class='input' type="password" name= "password"/>
      </div>
      <div class='form'>
        <label for="verify_password" name= "verify_password">Re-enter New Password: </label>
        <input class='input' type = "password" name= "verify_password"/>
      </div>
      <div class='form'>
        <label for="old_password" name= "old_password">Enter Old Password: </label>
        <input class='input' type = "password" name= "old_password"/>
      </div>
      <div class="submit">
      <button class="submitbutton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </div>
    </form>

    <form class='back' action="/home" method="GET">
      <input class="rightbutton" type="submit" value="Back">
    </form>



  </section>
  <%  errors.forEach(function(error) { %>
    <p><%= error %></p>
    <% }) %>
</body>
</html>