<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <h2>Register</h2>
    <section>
      <form action="/register" method="POST">
        <div class="form">
          <label for="first_name">First Name: </label>
          <input class='input' type="text" name="first_name" />
        </div>
        <div class="form">
          <label for= "last_name">Last Name: </label>
          <input class='input' type="text" name="last_name" />
        </div>
        <div class="form">
          <label for="email">Email: </label>
          <input class='input' type="email" name="email" />
        </div>
        <div class="form">
          <label for="password" type = "password" name= "password">Password: </label>
          <input class='input' type = "password" name= "password"/>
        </div>
        <div class="form">
          <label for="verify_password" name= "verify_password">Re-enter Password: </label>
          <input class='input' type = "password" name= "verify_password"/>
        </div>
        <div class='register'>
          <input class='registerbutton' type="submit" value="Submit">
        </div>
      </form>
    </section>
  </body>
</html>