
#body{
  background-size: cover;
  transition:2s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
body {
  padding: 2rem 6rem 2rem 6rem!important;
  font-family: 'Open Sans', sans-serif!important;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #f1f1f1!important;

  .bg-light {
    background-color: none!important;
  }
  .todolist{
    margin: 2rem;
  }
  nav {
    .fa-child:before {
      color:white;
      padding-left: 1.1rem;
      font-size: 3rem;
    }
    .navbar-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .nav-link.user {
      padding-top: 1rem;
      color: white!important;
    }    
    .fa-bars:before {
      content: "\f0c9";
      font-size: 1.5rem;
      color: white;
    }

    .form-control.mr-sm-2{
      width: 210px;
    }
    .dropdown-menu.show {
      left: auto;
      right: 1rem;
    }

    .dropdown {
      padding-top: 1rem;
      padding-right: 1rem;
    }
    .rightbutton { 
      background: none;
      border: none;
      color: black;
      cursor: pointer; 
    }
    .btn.btn-outline-success.my-2.my-sm-0 {
      color: #B6A19E;
      background-color: transparent;
      background-image: none;
      border-color: #B6A19E;
    }

    .btn.btn-outline-success.my-2.my-sm-0:hover {
      color: #fff;
      background-color: #B6A19E;
      border-color: #B6A19E;
    }
    .btn.btn-outline-success.my-2.my-sm-0:focus{
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

section {
    margin: 1rem 2rem 2rem 2rem;
  
  .row{
    .col-3{
      padding: 0px;
      .column{
        border: 2px solid rgba(0,0,0,0.4);
        margin: 1rem;
        min-height: 50vh;
        border-radius: 2px;
      p {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem 0.5rem 2rem;
        display: flex;
        justify-content: space-between;
        .fa-check-circle{
          padding-top: 4px;
        }
        .decorateTask{
          padding-left:0.5rem;
          width: 80%
        }
        .barTrash{
          width: 50px;
          display: flex;
          justify-content: space-between;
          margin-top: 2px;
        }
        .fa-caret-square-down{
          padding-top: 3px;
          color: white;
        }
        .fa-trash-alt{
          padding-top: 3px;
        }
        
      }
      }
      .activity{
        background-color: rgba(0,0,0,0.6);
        border-radius: 2px 0px 2px 0px;
        font-size: 1rem;
        padding: 1rem 2rem 1rem 2rem;
      }
    }
  }
}

#noInputChar{
  display:none;
  text-align: center;
  color:rgb(255, 46, 46);
}

@media (max-width: 1200px) {
      body {
        padding: 2rem 0.5rem 2rem .5rem!important;
      }
      section {
        margin: 1rem 2rem 2rem 2rem;
      
      .row{
        .col-3{
          padding: 0px;
          .column{
            border: 2px solid rgba(0,0,0,0.4);
            margin: 1rem;
            min-height: 50vh;
            border-radius: 2px;
          p {
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            display: flex;
            justify-content: space-between;
          }  
        }
      }
    }
  }
 }